NEXT_PUBLIC_NODE_ENV=development

NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_PROXY_API_URL=http://localhost:3000/api/proxy
NEXT_PUBLIC_EXTERNAL_API_URL=http://localhost:8000
API_URL_BASE=http://localhost:8000

BETTER_AUTH_SECRET=tu-secret-aqui
BETTER_AUTH_URL=http://localhost:3000

KEYCLOAK_CLIENT_ID=local-next-login

PRINCIPAL_KEYCLOAK_CLIENT_SECRET=tu-client-secret-aqui
PRINCIPAL_KEYCLOAK_ISSUER=url-de-tu-realm-de-keycloak-aqui