@import "tailwindcss";

@theme {
  /* Colores */
  --color-background: light-dark(#fff, #0a0a0a);
  --color-foreground: light-dark(#171717, #ededed);

  /* Fuentes */
  --font-headers: var(--font-montserrat);
  --font-text: var(--font-hind-madurai);
}

@layer base {
  body {
    font-family: var(--font-text), Helvetica, Arial, sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-headers), Helvetica, Arial, sans-serif;
  }
}
